{% extends "layout.njk" %}

{% block head %}

<title>Not-Found</title>

{% endblock %}

{% block content %}

<div class="not-found-wrapper">
    <h1>INFELIZMENTE NÃO FOI DESSA VEZ FERA</h1>
    {# <img src="../404.jpg" alt=""> #}
    <img src="http://site.cdljuazeirodonorte.org.br/wp-content/uploads/404.jpg" alt="">
    <a href="/">Vá para a Pagina Sobre -></a>

</div>

{% endblock %}

