<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}

        <title>Desafio 3-1</title>

    {% endblock %}

    
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
    <link href="desafio2-3_styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
            <a href="mailto:oi@rocketseat.com.br">E-mail</a>
            <a href="tel:+5547992078767">Telefone</a>
            <a href="/">Sobre</a>
            <a href="/conteudo">Conteudo</a>            
        </div>    
    </header>

    {% block content %}
    
    {% endblock %}
</body>
</html>